.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background: url('./img/barra-inicial.png');
    background-size: cover;
    background-position-y: calc(-35 * 100vw / var(--ideal-viewport-width));
    box-shadow: 0px 3px 10px rgb(0, 0, 0);
    z-index: 1;
}

.navbar img{
    object-fit: cover;
    position: absolute;
    width: clamp(31%, 28%, 11em);
    grid-column-start: 1;
}

.links {
    margin-right: 1vmax;
    grid-column: 3;
    text-align: end;
}

.links h1, h2 {
    padding-top: 0.3vmax;
    padding-bottom: 0.3vmax;
    margin: 0;
    font-family: sans-serif;
    font-size: calc(40 * var(--current-viewport-width) / var(--ideal-viewport-width));

}

.links h2 {
    color: white;
}












































@media (min-width: 450px) {
    .navbar img {
    width: clamp(28%, 28%, 11em);
    }
}