.Registro * {
    margin: 0;
}

.Registro {
    background-image: url('./img/loteria.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(700 * 100vw / var(--ideal-viewport-width));
}

.Registro img {
    width: calc(500 * 100vw / var(--ideal-viewport-width));
}

.Registro *{
    position: relative;
    right: calc(-130 * 100vw / var(--ideal-viewport-width));
    font-size: calc(35 * 100vw / var(--ideal-viewport-width));
}
.Registro img, .reg{
    bottom: calc(-110 * 100vw / var(--ideal-viewport-width));
}

.reg h2{
    margin-top: calc(50 * 100vw / var(--ideal-viewport-width));
    margin-bottom: calc(50 * 100vw / var(--ideal-viewport-width));
    padding: calc(100 * 10vw / var(--ideal-viewport-width));
    padding-left: calc(100 * 10vw / var(--ideal-viewport-width));
    padding-right: calc(500 * 10vw / var(--ideal-viewport-width));
    border-radius: 20px;
    box-shadow: 2px 3px 5px black;
    color: rgb(92, 92, 92);
    text-align: center;
    width: calc(450 * 100vw / var(--ideal-viewport-width));
}

.reg {
    width: fit-content;
}

.reg h2:hover {
    color: rgb(46, 46, 46);
    cursor: pointer;
}

.reg h2:active {
    color: black;
    box-shadow: 0px 0px 7px black;
}